[flake8]
ignore = F405, W503, E203
exclude =
    *migrations*,
    # python related
    *.pyc,
    .git,
    __pycache__,
    ./static/*
    ./templates/*
    ./env/*

max-line-length=120
max-complexity=26
format=pylint
show_source=False
statistics=True
count=True
