## Project Part
.idea/
.tmp/
.vscode/
db.sqlite3

## Python Part

__pycache__/
*.py[cod]
*.pyc
*$py.class


## Settings
support-files/deploy/local/*
support-files/deploy/prod/*
support-files/deploy/stag/*

support-files/deploy/*/environ*

logs/
